<div class="row" id="article">        
                  
            
        <div  class="jumbotron col-md-6 col-md-offset-3"  >
       
            <h2> {{ article.titre }}</h2>
         <br/>
        <div  style="margin-left: 5%;">  
             <p class="col-xs-9">Date : ../../.. 
                 <br/>Source : {{ article.source }}
                 <br/>  Tag : tech, sport, eco, droit...
                 
             </p>
            <a href="javascript:void(0)" class="btn btn-primary btn-fab btn-raised mdi-action-favorite-outline col-xs-9"></a>
             <br/>
        </div>
           
           <img  src="http://s2.lemde.fr/image/2015/01/12/534x0/4554389_6_b426_l-enquete-sur-les-assassinats-de-charlie_c05627086638688085e5708b8b09ec3c.jpg" alt="image info"/>
   <div style="margin-left: 5%;margin-right: 5%; text-indent: 5%;">
              
       <p><br/>{{ article.corps }}</p>

    </div>
           
           
        <div  id="foot_article" class="row">
           
            <div class="center-block">
                <div class="btn btn-default"> <a href="javascript:void(0)" class="pull-left">Editer</a></div>
                
               
                <div class="btn btn-default"> <a href="javascript:void(0)" class="pull-right">Marquer comme non lu</a></div>
                    
            </div>
           
        </div>
 </div>
        
    </div>