<div class="row" id="article">        
      {{Message}}            
            
        <div  class="jumbotron col-md-6 col-md-offset-3"  >
       
            <h2> {{ article.Titre }}</h2>
         <br/>
        <div  style="margin-left: 5%;">  
             <p class="col-xs-9">Date : {{ article.Date }}
                 <br/>Source : {{ article.Source }}
                 <br />Auteur : {{ article.Auteur }}
                 <br/>  Tag : {{ article.Tags }}
             </p>
            <div ng-if="!estFavoris">  
                <a href="#/article/{{article.id}}" ng-click="ajoutfavo()" class="btn btn-primary btn-fab btn-raised mdi-action-favorite-outline col-xs-9"></a>
            </div>

            <div ng-if="estFavoris">
                <a href="#/article/{{article.id}}" ng-click="retirerfavo()" class="btn btn-primary btn-fab btn-raised mdi-action-favorite col-xs-9"></a>
            </div>
           
           
            <br/>
            <p>{{test}}</p>
           
        </div>
           
           <img  src="{{article.Image}}" alt="image info"/>
   <div style="margin-left: 5%;margin-right: 5%; text-indent: 5%;">
              
       <p><br/>{{ article.Content }}</p>

    </div>
           
           
        <div  id="foot_article" class="row">
           
            <div class="center-block">
                <div class="btn btn-default"> <a href="#/partager/{{article.id}}" class="pull-left">Editer</a></div>
                
               
                <div class="btn btn-default"> <a href="javascript:void(0)" class="pull-right">Marquer comme non lu</a></div>
                    
            </div>
           
        </div>
  </div>
        
</div>