        <div class="jumbotron col-md-6 col-md-offset-3">
            <h3 class="modal-title">Choix des catégorie</h3>
            <br>
            <div class="container-fluid">
                <div class="row">
                    <ul>
                        <li ng-repeat="categorie in categoriesSelectionnees">{{categorie.Name}}</li>
                    </ul>
                    Rechercher : <input ng-model="query">
                    <br /><br />
                    <div class="categories">
                        <div ng-repeat="categorie in categories | filter:query">
                            <input type="button" class="col-md-4" value="{{categorie.Name}}" ng-click="selectionnerCategorie(categorie)" ng-class="{green: isSelectionnee(categorie), grey: !isSelectionnee(categorie)}" />
                            <br /><br />
                            <div ng-repeat="article in categorie.Articles">
                                <ul><li>{{article.Titre}}</li></ul>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <br>
                <!--<button id="ajout" class="btn btn-primary"  data-toggle="modal" data-target="#news_categ">+</button>-->
                <button open-dialog id="ajout" class="btn btn-primary">+</button>
            </div>
        </div>
        
        <!--<div class="modal hide fade" id="myModal" ng-controller="ModalCtrl">
            <div class="modal-header">
                <h2>Ajouter des catégories</h2>
                <button data-dismiss="modal">Close</button>
            </div>
            <div class="modal-body">
                <div ng-repeat="autre in autres">
                    <input ng-checked="cocher()" type="checkbox" name="autre" >{{autre.name}}
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="valider()">OK</button>
            </div>
        </div>-->
<!--        <div id="news_categ" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 class="modal-title">Choix de nouvelles catégories</h3>
                    </div>
                    <div class="modal-body">
                        <div class="togglebutton">
                            <div class="checkbox">
                                <div ng-repeat="autre in autres | filter:query | orderBy:orderProp">
                                    <label class="col-md-4"><input type="checkbox" />{{autre.name}}</label>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="sample3">
                                <button class="btn btn-primary btn-flat btn-raised"><i class="mdi-navigation-check"></i>Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>-->