<div ng-controller="creerCtrl" class="jumbotron col-md-6 col-md-offset-3">
    <form class="form-horizontal">
        <fieldset>
            <legend>Créer un article</legend>
            <div class="form-group">
                <label for="inputTitre" class="col-lg-2 control-label">Titre</label>
                <div class="col-lg-10">
                    <input class="form-control" ng-model="article.Titre" id="inputTitre" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="inputContenu" class="col-lg-2 control-label">Contenu</label>
                <div class="col-lg-10">
                    <textarea class="form-control" ng-model="article.Content" rows="4" id="inputContenu"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputTags" class="col-lg-2 control-label">Tags</label>
                <div class="col-lg-10">
                    <input class="form-control" ng-model="article.Tags" id="inputTags" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Visibilité</label>
                <div class="col-lg-10">
                    <div class="radio radio-primary">
                        <label>
                            <input name="optionsRadios" id="optionsRadios1" ng-model="article.Visibilite" value="public" type="radio">
                            Public
                        </label>
                    </div>
                    <div class="radio radio-primary">
                        <label>
                            <input name="optionsRadios" id="optionsRadios2" ng-model="article.Visibilite" value="privée" type="radio" />
                            Privée
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-default">Joindre un Média</button>
                    <button ng-click="submit()" class="btn btn-primary">Partager</button>
                </div>
            </div>
        </fieldset>
    </form>

    <pre>Article : {{article}}</pre>
    <pre>Message : {{message}}</pre>
</div>