<div>
<div class="jumbotron col-md-6 col-md-offset-3" ng-repeat="article in Articles "><!-- | limitTo: maxPerPage -->
    <p class="col-sm-8"><b>{{article.Titre}}</b></p>
    <h6 class="col-sm-4">Publi&eacute; &agrave; : {{article.Heure}}</h6>
    <h4 class="col-sm-12">{{article.Description}}</h4>
    <a class="col-sm-offset-10 col-xs-offset-8" href="#/article/{{article.id}}">Voir l'article</a>
   
</div>

<div class="row">
    <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="maxPerPage"></pagination>  
</div>

</div>    

<div class="disparition" style="position: fixed; bottom: 0px;">
    <div class="container">
        <p class="text-muted"></p><a href="#/creer" title="Cr&eacute;er article" class="btn btn-primary btn-fab btn-raised mdi-content-block"></a>
        
    </div>
</div>
        

