

<style>
    ol {
        list-style-type: none;
    }

        ol ol {
            border-top: solid 1px #555;
        }

        ol li li {
            background-color: #eeefe0;
            color: #000;
            border: solid 1px #555;
            border-top: none;
        }

    .Day {
        width: 100%;
        padding: 5px 0px;
        font-weight: bold;
        color: #f16025;
    }

    .Time {
        padding: 0 20px;
        background-color: #97be3d;
        border-right: solid 1px #555;
        color: #fff;
    }
</style>



<div class="jumbotron col-md-6 col-md-offset-3">

    <ol>
        <li>
            <span class="Day">Lundi</span>
            <ol>
                <li ng-repeat="article in Articles">
                    <span class="Time">{{article.Heure}}</span>
                    <span><a href="#/article/{{article.id}}">{{article.Titre}}</a></span>
                    
                </li>
            </ol>
        </li>
    </ol>
</div>
