<!-- <div> -->
    <div class="jumbotron col-md-6 col-md-offset-3" dir-paginate="article in Articles | orderBy:'-id' |itemsPerPage: 5">
    <!-- | limitTo: maxPerPage -->
    <p class="col-sm-8"><b>{{article.Titre}}</b></p>
    <h6 class="col-sm-4">Publi&eacute; le {{article.Date}} &agrave;  {{article.Heure}}</h6>
    <h4 class="col-sm-12">{{article.Description}}</h4>
    <a class="col-sm-offset-10 col-xs-offset-8" href="#/article/{{article.id}}">Voir l'article</a>

</div>

<div class="disparition" style="position: fixed; bottom: 0px;">
    <div class="container">
        <p class="text-muted"></p><a href="#/creer" title="Cr&eacute;er article" class="btn btn-primary btn-fab btn-raised mdi-content-block"></a>
        
    </div>
</div>



<!-- </div>-->


<div class="col-md-6 col-md-offset-3 text-center">
    <dir-pagination-controls></dir-pagination-controls>
</div>