<div class="jumbotron col-md-6 col-md-offset-3">
			<video class="img-responsive" controls>
				<source src="video/test.mp4" type"video/mp4"/>
			</video>
		</div>

		<div class="col-md-6 col-md-offset-3">
			<center>
				<a href="#/connection" class="btn btn-primary">Passez >></a>
			</center>
		</div>

		<div class="disparition" style="position: fixed; bottom: 0px; background-color: white; width: 100%;">
		  <div class="container">
			<p class="text-muted">FOOTER QUI DISPARAIT !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</a></p>
		  </div>
		</div>